[submodule "data-admin"]
	path = admin/data-admin
	url = git@github.com:varilink/data-admin.git
[submodule "data-app"]
	path = app/data-app
	url = git@github.com:varilink/data-app.git
[submodule "data-int"]
	path = data-int
	url = git:varilink/data-int
[submodule "data-web"]
	path = web/data-web
	url = git@github.com:varilink/data-web.git
[submodule "tools-npm"]
	path = tools/npm
	url = git@github.com:varilink/tools-npm.git
[submodule "tools-proxy"]
	path = tools/proxy
	url = git@github.com:varilink/tools-proxy.git
[submodule "tools/gimp"]
	path = tools/gimp
	url = git@github.com:varilink/tools-gimp.git
