# ------------------------------------------------------------------------------
# docker-compose.yml
# ------------------------------------------------------------------------------

# Docker Compose services for development and testing of the DATA web
# application and associated Django admin interface. These fall into four
# categories:
#
#   1. The DATA web application:
#     - web
#     - app
#
#   2. Django admin interface:
#     - admin-web
#     - admin-app
#
#   3. DATA web application client asset build commands:
#     - gimp
#     - npm
#     - npx
#
#   4. Other miscellaneous CLI utilities:
#     - contacts
#     - pl
#     - pod2markdown
#     - uwsgitop

---

services:

  # -----------------------
  # 1. DATA web application
  # -----------------------

  web:

    profiles: ['data']

    build: ./web

    image: varilink/data/web

    # See the .env file for an explanation of these variables.
    environment:
      - WORKER_PROCESSES
      - DATA_WEB_HOST
      - DATA_APP_HOST
      - DATA_APP_PORT

    volumes:
      # Template file used to configure nginx - see "Using environment variables
      # in nginx configuration (new in 1.19)" in https://hub.docker.com/_/nginx.
      - "./web/templates/data.conf.template:\
        /etc/nginx/templates/data.conf.template:ro"
      # Website static content.
      - ./web/data_web/dist/:/var/www/${DATA_WEB_HOST}/html/assets/:ro
      # Backup
      - ./backup/:/backup/:ro
      # Shared volumes, see below.
      - upload:/var/www/${DATA_WEB_HOST}/html/upload/

    networks:
      default:
        aliases: # for varilink/tools-proxy access
          - ${DATA_WEB_HOST}
  app:

    profiles: ['data']

    build:
      context: ./app
      args:
        DATA_APP_HOST: ${DATA_APP_HOST}

    image: varilink/data/app:bookworm

    # See the .env file for an explanation of these variables.
    environment:
      # Environment variables that are also passed to Perl CLI commands.
      <<: &env-app-common
        DATA_APP_CONF_DIR: ${DATA_APP_CONF_DIR}
        DATA_APP_CONF_FILE: ${DATA_APP_CONF_FILE}
        DATA_APP_LOG_LEVEL: ${DATA_APP_LOG_LEVEL}
      DATA_APP_HOST: ${DATA_APP_HOST}
      DATA_APP_PORT: ${DATA_APP_PORT}

    volumes:
      # Configuration
      - &vol-env-conf "./app/conf/:/usr/local/etc/"
      - &vol-app-conf "./app/data_app/conf/:/usr/local/etc/app/:ro"
      - &vol-int-conf "./data_int:/usr/local/etc/int/:ro"
      # Perl scripts
      - &vol-app-pl "./app/data_app/pl/:/usr/local/src/:ro"
      # Perl modules
      - &vol-app-pm "./app/data_app/pm/:/usr/local/lib/site_perl/DATA/:ro"
      # Template Toolkit templates
      - &vol-app-tt "./app/data_app/tt/:/usr/local/lib/tt/:ro"
      # Backup
      - ./backup:/backup:ro
      # UWSGI config
      - ./app/data-app.ini/:/etc/uwsgi/apps-enabled/data-app.ini:ro
      # PSGI scripts
      - ./app/data_app/psgi/:/usr/local/sbin/:ro
      # HTML assets - the app service uses the logo.jpg in printed listings
      - ./web/data_web/dist/:/var/www/${DATA_WEB_HOST}/html/assets/:ro
      # Shared volumes, see below.
      - database:/var/www/${DATA_APP_HOST}/database/
      - upload:/var/www/${DATA_WEB_HOST}/html/upload/

    networks:
      default:
        aliases: # for varilink/tools-proxy access
          - webmail

  # -------------------------
  # 2. Django admin interface
  # -------------------------

  admin-web:

    profiles: ["admin"]

    build: ./admin-web

    image: varilink/data/admin-web

    # See the .env file for an explanation of these variables.
    environment:
      - WORKER_PROCESSES
      - DATA_ADMIN_WEB_HOST
      - DATA_ADMIN_APP_HOST
      - DATA_ADMIN_APP_PORT

    volumes:
      # Template file used to configure nginx - see "Using environment variables
      # in nginx configuration (new in 1.19)" in https://hub.docker.com/_/nginx.
      - "./admin-web/admin.conf.template:\
        /etc/nginx/templates/admin.conf.template:ro"
      # Shared volumes, see below.
      - django-static:/var/www/$DATA_ADMIN_WEB_HOST/html/static/

    networks:
      default:
        aliases: # for varilink/tools-proxy access
          - ${DATA_ADMIN_WEB_HOST}

  admin-app:

    profiles: ["admin"]

    build:
      context: ./admin-app
      args:
        DATA_ADMIN_APP_HOST: ${DATA_ADMIN_APP_HOST}
        DATA_ADMIN_WEB_HOST: ${DATA_ADMIN_WEB_HOST}
        DATA_APP_HOST: ${DATA_APP_HOST}

    image: varilink/data/admin-app:bookworm

    # See the .env file for an explanation of these variables.
    environment:
      - DATA_ADMIN_APP_PORT

    volumes:
      # UWSGI config
      - ./admin-app/data-admin.ini:/etc/uwsgi/apps-enabled/data-admin.ini:ro
      # Shared volumes, see below.
      - database:/var/www/${DATA_APP_HOST}/database/
      - django-static:/var/www/$DATA_ADMIN_WEB_HOST/html/static/

  # ---------------------------------------------------
  # 3. DATA web application client asset build commands
  # ---------------------------------------------------

  gimp:

    profiles: ["manual"]

    working_dir: /data-gimp/

    volumes:
      - ./web/data_web/gimp/:/data-gimp/
      - ./web/data_web/media/website/:/website/
      - ./web/data_web/media/other/:/other/

  npm:

    profiles: ["manual"]

    volumes:
      - ./web/data_web:/npm

  npx:

    profiles: ["manual"]

    volumes:
      - ./web/data_web:/npm

  # ------------------------------------
  # 4. Other miscellaneous CLI utilities
  # ------------------------------------

  contacts:

    profiles: ["manual"]

    build: tools/contacts
    volumes:
      # app
      - ./tools/contacts/app.pl:/usr/local/src/app.pl
      - ./app/data_app/pm:/usr/local/lib/site_perl
      # configuration
      - ./tools/contacts/app.cfg:/app.cfg
      - ./data_int/:/int/
      # data
      - ./backup/:/database/

  pl:

    profiles: ["manual"]

    build:
      context: ./app
      target: pl

    image: varilink/data/pl

    entrypoint: [ "perl" ]

    environment:
      <<: *env-app-common

    working_dir: /usr/local/src/

    volumes:
      # Configuration
      - *vol-env-conf
      - *vol-app-conf
      - *vol-int-conf
      # Perl scripts
      - *vol-app-pl
      # Perl modules
      - *vol-app-pm
      # Template Toolkit templates
      - *vol-app-tt
      # Shared volumes, see below.
      - database:/var/www/${DATA_APP_HOST}/database/
      - upload:/var/www/${DATA_WEB_HOST}/html/upload/
      # Command file inputs and outputs
      - ./inputs/:/inputs/:ro
      - ./outputs/:/outputs/

  pod2markdown:

    profiles: ["manual"]

    build: tools/pod2markdown

    image: varilink/data/pod2markdown

    user: "1000:1000"

    command:
      - -c
      - |-
        for ext in pl pm psgi
        do
          rm -rf /app/pod2markdown/$$ext
          for fname in `find /app/$$ext/ -type f -name "*.$$ext"`
          do
            if [ -n "$$(pod2markdown $$fname)" ]; then
              basename=`basename $$fname .$$ext`
              reldir=`dirname $$fname | cut -c6-`
              mkdir -p "/app/pod2markdown/$$reldir/$$basename"
              pod2markdown $$fname > \
                "/app/pod2markdown/$$reldir/$$basename/README.md"
            fi
          done
        done

    volumes:
      - ./app/data_app:/app

  uwsgitop:

    profiles: ["manual"]

    build: tools/uwsgitop

volumes:

  # These are all defined as named volumes because their content is shared
  # across more than one service above and is generated internally by one of
  # those services rather than being mapped from the Docker host.

  # SQLite databases
  database:

  # Django admin static content
  django-static:

  # Uploaded image files.
  upload:
