# ------------------------------------------------------------------------------
# docker-compose.yml
# ------------------------------------------------------------------------------

# Docker Compose services for development and testing of the DATA web
# application. These fall into four categories
#
#   1. "Run" the website and associated Django admin interface:
#     - web
#     - app
#     - admin
#
#   2. "Build" the website's front-end assets:
#     - gimp
#     - npm
#     - npx
#
#   3. "Document" the Perl web application that the website is based on:
#     - pod2markdown
#
#   4. "Integrate" the website with third-party Cloud services:
#     - pl
#     - contacts

---

services:

  # ------
  # 1. Run
  # ------

  web:

    build: ./web

    image: varilink/data/web

    # See the .env file for an explanation of these variables.
    environment:
      - WORKER_PROCESSES
      - DATA_WEB_ERROR_LOG_LEVEL
      - DATA_WEB_HOST
      - DATA_APP_HOST
      - DATA_APP_PORT
      - DATA_ADMIN_WEB_HOST
      - DATA_ADMIN_HOST
      - DATA_ADMIN_PORT

    # Dependencies on upstream and downstream services.
    depends_on:
      - proxy # downstream
      - app   # upstream
      - admin # upstream

    volumes:
      # Template file used to configure nginx - see "Using environment variables
      # in nginx configuration (new in 1.19)" in https://hub.docker.com/_/nginx.
      - ./web/templates:/etc/nginx/templates:ro
      # Website static content.
      - ./web/data_web/dist/:/usr/share/nginx/html/assets/:ro
      # Backup
      - ./backup/:/backup/:ro
      # Shared volumes, see below.
      - django-static:/usr/share/nginx/html/static/:ro
      - upload:/usr/share/nginx/html/upload/

    networks:
      default:
        aliases: # for varilink/tools-proxy access
          - ${DATA_WEB_HOST}
          - ${DATA_ADMIN_WEB_HOST}
  app:

    build: ./app

    image: varilink/data/app:bookworm

    container_name: ${DATA_APP_HOST} # fixed for pass through from web layer

    environment:
      <<: &env-app-common
        DATA_APP_CONF_DIR: $DATA_APP_CONF_DIR
        DATA_APP_CONF_FILE: $DATA_APP_CONF_FILE
        DATA_APP_LOG_LEVEL: ${DATA_APP_LOG_LEVEL:-emergency}
      DATA_APP_PORT: $DATA_APP_PORT

    volumes:
      # Configuration
      - &vol-env-conf "./app/conf/:/usr/local/etc/"
      - &vol-app-conf "./app/data_app/conf/:/usr/local/etc/app/:ro"
      - &vol-int-conf "./data_int:/usr/local/etc/int/:ro"
      # Perl scripts
      - &vol-app-pl "./app/data_app/pl/:/usr/local/src/:ro"
      # Perl modules
      - &vol-app-pm "./app/data_app/pm/:/usr/local/lib/site_perl/DATA/:ro"
      # Template Toolkit templates
      - &vol-app-tt "./app/data_app/tt/:/usr/local/lib/tt/:ro"
      # Backup
      - ./backup:/backup:ro
      # UWSGI config
      - ./app/uwsgi/:/etc/uwsgi/apps-enabled:ro
      # PSGI scripts
      - ./app/data_app/psgi/:/usr/local/sbin/:ro
      # HTML assets - the app service uses the logo.jpg in printed listings
      - ./web/data_web/dist/:/assets/:ro
      # Shared volumes, see below.
      - database:/database
      - upload:/upload

  admin:

    build: ./admin

    image: varilink/data/admin:bookworm

    container_name: ${DATA_ADMIN_HOST} # fixed for pass through from web layer

    command: [ "--ini" , "/etc/uwsgi/apps-enabled/data-admin.ini" ]

    environment:
      - DATA_ADMIN_PORT

    volumes:
      # UWSGI config
      - ./admin/uwsgi:/etc/uwsgi/apps-enabled:ro
      # Migrations
      - ./admin/data_admin/whatson/migrations:/data/whatson/migrations:ro
      # Shared volumes, see below.
      - database:/database
      - django-static:/static

  # --------
  # 2. Build
  # --------

  gimp:

    working_dir: /data-gimp/

    volumes:
      - ./web/data_web/gimp/:/data-gimp/
      - ./web/data_web/media/website/:/website/
      - ./web/data_web/media/other/:/other/

  npm:

    volumes:
      - ./web/data_web:/npm

  npx:

    volumes:
      - ./web/data_web:/npm

  # -----------
  # 3. Document
  # -----------

  pod2markdown:

    build: tools/pod2markdown

    image: varilink/data/pod2markdown

    user: "1000:1000"

    command:
      - -c
      - |-
        for ext in pl pm psgi
        do
          rm -rf /app/pod2markdown/$$ext
          for fname in `find /app/$$ext/ -type f -name "*.$$ext"`
          do
            if [ -n "$$(pod2markdown $$fname)" ]; then
              basename=`basename $$fname .$$ext`
              reldir=`dirname $$fname | cut -c6-`
              mkdir -p "/app/pod2markdown/$$reldir/$$basename"
              pod2markdown $$fname > \
                "/app/pod2markdown/$$reldir/$$basename/README.md"
            fi
          done
        done

    volumes:
      - ./app/data_app:/app

  # ------------
  # 4. Integrate
  # ------------

  pl:

    build:
      context: ./app
      target: pl

    image: varilink/data/pl

    entrypoint: [ "perl" ]

    environment:
      <<: *env-app-common

    working_dir: /usr/local/src/

    volumes:
      # Configuration
      - *vol-env-conf
      - *vol-app-conf
      - *vol-int-conf
      # Perl scripts
      - *vol-app-pl
      # Perl modules
      - *vol-app-pm
      # Template Toolkit templates
      - *vol-app-tt
      - ./backup:/database/:ro
      - ./inputs/:/inputs/:ro
      - ./outputs/:/outputs/

  contacts:

    build: tools/contacts
    volumes:
      # app
      - ./tools/contacts/app.pl:/usr/local/src/app.pl
      - ./app/data_app/pm:/usr/local/lib/site_perl
      # configuration
      - ./tools/contacts/app.cfg:/app.cfg
      - ./data_int/:/int/
      # data
      - ./backup/:/database/

  uwsgitop:

    build: tools/uwsgitop

volumes:

  # SQLite databases
  database:

  # Django admin static content
  django-static:

  # Uploaded image files.
  upload:
