include app/context.cfg
include app/general.cfg

# Directory and file paths
assets /usr/share/nginx/html/assets/
database /database/derbyartsandtheatre.db
tmpl_dir /usr/local/lib/tt

# Email addresses
email username@localhost
webmin username@localhost

# Debugging and logging
file_log_level $DATA_APP_LOG_LEVEL
jsDebug 1

# Absolute or relative URLs
image_upload_path /upload/img/
images_upload_url /secure/image/upload

# Application functions
max_image_size	2000000
use_captcha 0
